body{
background-image:url("Abstract_art_colorful_colors_design_illustration_light_theme_1920x1080.jpg");


}

#nav{

text-align:center;
margin-top:10px;

background-image:url("754604-1920x1080.jpg");
}

.borders{
border:1px solid black;
}

#btn{

width:100%;

}


#carousel-example-generic{

margin-top:5px;
}


#my{

margin-top:50px;
text-align:center;
color:black;
}

#im{
margin-bottom:20px;

}

foo{

margin-top:50px;
text-align;center;
color:black;


}

#about{
margin-top:50px;
}

#para{

color:black;
}


#contact{


color:black;
margin-top:20px;

}

#copy{

margin-top:20px;

}
